
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}
a {outline:none;}

.w3oct_wrapper {
    float: none;
    overflow: hidden;
    margin: 30px auto ;
    max-width: 1170px;
    padding: 0px 15px;
    box-sizing: border-box;
}
.w3oct_wrapper h1, 
.w3oct_wrapper h2,
.w3oct_wrapper h3,
.w3oct_wrapper h4,
.w3oct_wrapper h5,
.w3oct_wrapper h6,
.w3oct_wrapper p,
.w3oct_wrapper a,
.w3oct_wrapper span,
.w3oct_wrapper small,
.w3oct_wrapper input,
.w3oct_wrapper select,
.w3oct_wrapper textarea
{font-family: 'Open Sans', sans-serif;}

.w3oct_mid_content {
    float: left;
    width: 100%;
    position: relative;   
}
#yelp-biz-badge-rrc-MW28Ni9x4Waqzjs_T5a6vg a{ color:#fff;}

.w3oct_form-wrap{ overflow:hidden; width:98%; margin:20px 2%; background:#e8e8e8; min-height:450px; border-radius:10px; position:relative;}

.w3oct_form-left {
    width: 25%;
    position: absolute;
    height: 100%;
    /*background: #545871;*/
	background: #597aa3;
}

.w3oct_form-left-cont {
    float: left;
    width: 90%;
    /*padding: 40px 5% 20px 5%;*/
	padding: 10px 5% 20px 5%;
    text-align: left;
}
.w3oct_form-left-cont p {
    font-size: 16px;
    color: #fff;
    padding: 0px 0px 20px 0px;
    line-height: 22px;
    font-weight: 400;
	margin-bottom:0px;
}

.w3oct_yelp {
    float: left;
    margin: 0px 0px 15px 0px;
    clear: both;
    width: 100%;
}

.w3oct_form-left-img{ position:absolute; bottom:-5px; left:0px;}

.w3oct_form-right {
    width: 100%;
    
    box-sizing: border-box;
    padding: 30px 5% 0px 30%;
}

.w3oct_form-right-cont {
    float: left;
    width: 100%;
    margin: 0px 0px 5px 0px;
}

.w3oct_form-right-cont h2{    
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
	padding-bottom: 10px;
	margin-bottom:0px;
	}

.w3oct_form-right-cont p {
    font-size: 16px;
    color: #000;
    padding: 0px 0px 0px 0px;
	/*padding: 0px 0px 20px 0px;*/
    line-height: 22px;
    font-weight: 400;
	margin-bottom:0px;
	
	}
	
	
.w3oct_prod_sec {
    float: left;
    clear: both;
    position: relative;
    width: 100%;
}

.w3oct_row {
    clear: both;
    width: 100%;
}
.w3oct_row input, .w3oct_row select, .w3oct_row textarea{ width:100%; height:30px; line-height:30px;    box-sizing: border-box;
    padding: 0px 10px;    margin: 0px 0px 15px 0px;} 
	
	
	.w3oct_row input[type="email"], .w3oct_row input[type="phone"] { width:100%; height:30px; line-height:30px;    box-sizing: border-box;
    padding: 0px 10px;    margin: 0px 0px 15px 0px; border-radius: 4px; border: 1px solid #d5d5d5 !important;} 



.w3oct_row input:read-only, .w3oct_row select.disable {
    background: #b5b5b5!important;
    color: #000;
    border: none;
    cursor: not-allowed;
}

.w3oct_row input:-moz-read-only, {
    background: #b5b5b5!important;
    color: #000;
    border: none;
    cursor: not-allowed;
}



.w3oct_row-100{ float:left; width:100%; padding:0px 1%; box-sizing:border-box}
.w3oct_row-50{ float:left; width:50%; padding:0px 1%;box-sizing:border-box}
.w3oct_row-33{ float:left; width:33.333334%; padding:0px 1%;box-sizing:border-box}


.w3oct_row input[type="submit"]	{float: right;
    width: 100px;
    background: #037dc6;
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer; 
	padding:0px;}
	
.w3oct_row input[type="submit"]:hover{background: #3c4267;}


.w3oct_back{float: left;
    width: 100px;
    background: #8fa8b7;
    border: none;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
     text-decoration:none;    padding: 7px 0px 7px 0px;
    text-align: center;}	
	
.w3oct_form-section {
    float: left;
    width: 100%;
    clear: both;
    margin: 0px 0px 0px 0px;
}



.w3oct_thankyou {
    text-align: center;
    background: #ececec;
    border-radius: 10px;
    margin: 20px auto;
    padding: 15px 0px 40px 0px;
    overflow: hidden;
    width: 822px;
}
.w3oct_thankyou h1 {
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    line-height: 107px;
    /*padding-bottom: 25px;*/
}
.w3oct_thankyou p {
    font-size: 16px;
    color: #000;
    padding: 0px 0px 10px 0px;
    line-height: 22px;
    font-weight: 400;
	margin-bottom:0px;
	
	}
.contact-by {
    display: inline-block;
    padding: 10px 20px;
    background: #037dc6;
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    
    margin: 20px 10px 0px 10px;border-radius: 8px;
}

.contact-by small{ display:block;    margin-bottom: 5px;}
.contact-by a{ color:#fff; text-decoration:none;}

.bck{ float:left;}
.confrm{ float:right;}

.logo-jpimg{ width:100%; float:left;}
.logo-jpimg img{ display:inline-block;margin-right:2.5%;}
.logo-jpimg img:last-child{ margin-right:0px;}

.clcprc{ width:auto!important; padding:6px 10px!important; font-size:18px!important; height:auto !important; }

.w3ict_bbb .fm-img img{ width:100%;}

.w3oct_wrapper label{ display:none !important;}



@media screen and (max-width: 1000px) {
.w3oct_thankyou{ width:100%; padding:0 3%; box-sizing:border-box;}

}

@media screen and (max-width: 768px) {
	.logo-jpimg img{ width:100px;}
}

@media screen and (max-width: 767px) {
    
	.w3oct_form-left{ width:100%; position:static;}
	.w3oct_form-left-img { position: static;}
	.w3oct_form-right {padding: 30px 5% 20px 5%; float:left;}
	
    }

@media screen and (max-width: 500px) {	
	.w3oct_row-50{ width:100%;}
	.contact-by{word-break:break-all;}
	
}

